header {
    background-color: #4da52b;
}

/* Container holding the image and the text */
.image_container {
    position: relative;
}

.image_container img {
    -webkit-filter: brightness(70%);
}

/* Bottom right text */
.text_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}